.container {
  /* TODO */
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
}

.container-flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 20px; /* Same as margin: 20px 0 */
}
